<template>
  <div>
    <div>RxJS Learning</div>
    <div>Value: {{ agentName }}</div>
  </div>
</template>
<script>
import { Observable, of, from } from "rxjs";
export default {
  data() {
    return {
      agent: Observable,
      agent2: Observable,
      agentName: "",
      agentName2: "",
      students$: Observable,
      studentsList: ["Ram", "mark", "Sita", "Lisa"],
      studentName: "Ram",
      studentInfo: {
        name: "Ram",
        age: "12",
        location: "Malaysia",
      },
      orders$: Observable,
      ordersList: ["Fashion", "Electronic", "Mobile", "Household"],
    };
  },
  mounted() {
    this.newObserver();
    this.ofOperator();
    this.fromOperator();
    // this.agent2 = new Observable(function (obs) {
    //   try {
    //     obs.next("Ram");
    //     setInterval(() => {
    //       obs.next("Mark");
    //     }, 3000);
    //     setInterval(() => {
    //       obs.next("Sita");
    //     }, 6000);
    //   } catch (e) {
    //     obs.error(e);
    //   }
    // });

    // this.agent2.subscribe((data) => {
    //   this.agentName2 = data;
    //   console.log(data);
    // });
  },
  methods: {
    newObserver() {
      this.agent = new Observable((x) => {
        try {
          x.next("Ram");
          x.next("Mark");
          x.next("Sita");
        } catch (e) {
          x.error(e);
        }
      });

      this.agent.subscribe((data) => {
        this.agentName = data;
        console.log(data);
      });
    },
    ofOperator() {
      //variable: String, Array or Object
      this.students = of(this.studentInfo);
      this.students.subscribe((stud) => {
        console.log(stud);
      });
    },
    fromOperator() {
      this.orders$ = from(this.ordersList);
      this.orders$.subscribe((ord) => {
        console.log(ord);
      });
    },
  },
};
</script>
